services:
  - type: web
    name: mood-detector
    env: python
    rootDir: mood_detector_web
    buildCommand: pip install -r requirements.txt && python ../download_model.py
    startCommand: gunicorn app:app
    plan: free
